<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container" ng-app="linkCutterApp">
        <ul class="nav nav-pills">
            <li><a ui-sref="link()">Хоум</a></li>
            <li  ><a ui-sref="links()">Ранее сокращавшиеся</a></li>
        </ul>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

